/* INICIO CONTACTANOS*/

.formulario{
    @extend .font-xs;
    // border: solid 2px $colorOscuro;
    // text-align: center;
    // width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    //background-color: $colorCeleste;
}

.formulario__titulo{
    @extend .font-xl;
    text-align: center;
}
.formulario__input{
    display: block;
    margin: .5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: .5rem;
}

.formulario__label{
    // @extend .font-xs;
    
    }

.formulario__boton{
    display: inline-block;
    width: 40%;
    border-radius: 5px;;
}


// .formulario__boton--enviar{
//     background-image: $gradientCeleste;
//     color: white;
// }
// .formulario__boton--limpiar{
//     background-color: $colorCeleste;

// }

.maps {
    position: relative;
    padding-bottom: 40%; 
    height: 0;
    overflow: hidden;
    
    
}
.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
/* FIN CONTACTANOS*/