/*INICIO SCSS index*/
:root {
    --colorCeleste: rgb(160, 204, 250);
    --colorAzul: rgb(40, 90, 255);
    --colorVerde: rgb(145, 198, 18);
    --gradietCelesteClaro: linear-gradient(180deg, #63a4ff 0%, #83eaf1 74%);
    --gradietCelesteClaroInvertido: linear-gradient(180deg, #63a4ff 0%, #83eaf1 74%);
}

body {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    /* padding: 5px; */

}
html{
    min-height: 100vh;
}

section {
    background-color: white;
    text-align: center;
    margin: 5px;
    /* border: var(--colorAzul) solid 3px; */
}

header h1 {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: white;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: var(--colorAzul)
}

a {
    text-decoration: none;
    color: var(--colorAzul);
}

i {
    margin: 0 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lora', serif;
}

td {
    padding: 5px;

}



th {
    color: white;
    background-color: var(--colorAzul);
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 20px;
}

.productoDetalles {
    background-color: #63a4ff;
    background-image: var(--gradietCelesteClaro);
    background-size: cover;
    padding: 10px;
    text-align: center;
}

.tituloProducto {
    color: var(--colorAzul);
    text-align: center;
    font-size: 28px;
}

.noticias {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 40px;
    background-color: white;
    float: left;
    text-align: center;

}

.iconoPrincipal {
    align-self: center;
    display: inline;
    margin-bottom: 5px;
    color: var(--gradietCelesteClaro);
    animation-name: cambiarColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cambiarColor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.ocultame{
    display: none;
}

/* FIN SCSS index*/