/* INICIO LAYOUT SCSS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

.myNavBar {
    font-size: $f-pequena;
    background-image: $gradientCeleste;

}

.myNavBar__titulo {
    font-size: $f-grande;
}

.myNavBar__buscar {
    background: $colorCeleste
}

.myFooter {
    background-image: $gradientCeleste;
    color: white;
}

.myCard {
    border: solid 1px $colorOscuro;
    border-radius: 10px;
    margin: 4px;
    text-align: center;
}

.myCard--body {
    text-align: center;
    border-end-start-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.myCard--body__titulo {
    font-size: $f-normal;
}

.myCard--body__text {
    font-size: 1rem;
}

.myCard--body__precio {
    font-size: $f-grande;
    color: $colorVerde;
}

.myCard--body__imagen {
    height: 30vh;
    object-fit: contain;
}

.mySideBar {
    position: fixed;
    padding: 0;
    top: 100px;
    left: 0px;
}

/*FIN LAYOUT SCSS*/