body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
label{
    display: block;
    font-size: 1rem;
}
input, select, textarea {
    width: 28rem;
    margin-bottom: .5rem;
}
fieldset{
    margin: 30px;
    text-align: center;
}
.boton{
    width: 14rem;
    height: 3rem;
}
